
NEXT_PUBLIC_API_URL=your_api_url
NEXT_PUBLIC_BACKEND_URL=your_backend_url
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=your_stripe_publishable_key

JWT_ACCESS_SECRET=your_access_secret
JWT_REFRESH_SECRET=your_refresh_sectet 